xterm*faceName: Source Code Pro:size=10

URxvt.scrollBar: off
URxvt.font: xft:Source Code Pro:size=10
URxvt*termName:screen-256color
URxvt.letterSpace: -1

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    false
Xft.hinstyle:   hintfull
Xft.lcdfilter:  lcdlight
URxvt*xftAntialias: false
